.col-sm-12.col-md-12.col-xs-12.main 
  .container
    .page-header
    #score
      %h1 
        Puntos:
        %span 0
    .row.jumbotron#matriz

    .panel.panel-primary
      .panel-heading
        %h2 Instrucciones
      .panel-body
        %p ¿Cómo se dice en inglés ... ?
%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
%script{:src=>"/js/bootstrap.min.js"}
%script{:src=>"/js/colors.js"}
%link{:href => "/css/colors.css", :rel => "stylesheet"}