.container
  .page-header
    %h1 Sección de juegos
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            PintaMatemáticas
            %span.badge
              #{@score['pintamatematicas']}
        .panel-body
          %a.thumbnail{:href=>"/game/mathematics/draw"}
            %img{:src=>"/img/games/mathematics_draw_partial.png"}
        .panel-footer
          %p 
            %strong Completa los colores usando las matemáticas
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            Memoria
            %span.badge
              #{@score['memoria']}
        .panel-body
          %a.thumbnail{:href=>"/game/memory"}
            %img{:src=>"/img/games/memory.png"}
        .panel-footer
          %p 
            %strong Memoriza las parejas para completar el juego
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 Relaciona en Inglés