<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" href="/img/logo.png">
    <title>EduTech</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src="/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          	<li class="active">
              <a href="#">
              </a>
            </li>
            <li>
              <a href="/notes">
                <i class="fa fa-file-text"></i>
              </a>
            </li>
            <li>
              <a href="/game">
                <i class="fa fa-gamepad"></i>
              </a>
            </li>
            <li>
            	<a href="#">
            		<i class="fa fa-trophy"></i>
            	</a>
            </li>
            
          </ul>          
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12 header">

        	<div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 user">
        		<div class="col-sm-4 col-md-4 col-sm-offset-7 col-md-offset-7 col-xs-9 info">
        			<p id="nombre"><%= current_user.name %> <%= current_user.last_name %></p>

        			<p id="icons">
        				<a href="#"><i class="fa fa-envelope myfa"></i></a>
        				<a href="#"><i class="fa fa-inbox myfa"></i></a>
        				<a href="#"><i class="fa fa-cog myfa"></i></a>
        				<a href="/logout"><i class="fa fa-power-off myfa"></i></a>
        			</p>
        		</div>
        		<div class="col-sm-1 col-md-1  col-xs-3 imagen">
        			<img class="img-responsive img-circle avatar" src="/img/kid_girl.png">
        		</div>

        		
        	</div>     

          
        </div>
        
        <!--AQUI VA EL MAIN-->

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
