<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/logo.png">

    <title>Edutech</title>

   
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
  	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/ie-emulation-modes-warning.js"></script>

   
  </head>

  <body>

    <div class="container col-sm-12 col-lg-12 col-xs-12">
      <div class="header col-sm-12 col-lg-12 col-xs-12">
        <nav class="mynav col-xs-12 col-sm-12 col-lg-12 ">
          <form class="form-inline" role="form" action="/login" method="post">
			  <div class="form-group">
			      <label class="sr-only"> Nombre de usuario </label>
			      <input type="text" class="form-control" id="usern" name="username" placeholder="Nombre Usuario">
			  </div>
			  <div class="form-group">
			    <label class="sr-only">Contraseña</label>
			    <input type="password" class="form-control" id="passr"  name="pass" placeholder="Contraseña">
			  </div>
			  <button type="submit" class="btn btn-primary">Entrar</button>
			</form>
        </nav>
        
      </div>

      <div class="jumbotron main col-sm-12 col-lg-12 col-xs-12">
	     	<div class="myform col-sm-6 col-lg-6 col-xs-12 col-sm-offset-6 col-lg-offset-6">

		        <h1 class="col-sm-12 col-lg-12 col-xs-12" > Edutech </h1>
		        <p class="lead col-sm-12 col-lg-12 col-xs-12 "> Aprende con nosotros, registrate!</p>
		        
		        <form class="col-sm-12 col-lg-12 col-xs-12" role="form" action="/registro" method="post">
				  <div class="form-group col-sm-6 col-lg-6 col-xs-12 ">
				    <label> Nombre</label>
				    <input type="text" class="form-control" id="name" name="nombre" placeholder="Nombre">
				  </div>
				  <div class="form-group col-sm-6 col-lg-6 col-xs-12 ">
				    <label> Apellidos</label>
				    <input type="text" class="form-control" id="lastname" name="apellidos" placeholder="Apellidos">
				  </div>
				  <div class="form-group col-sm-6 col-lg-6 col-xs-12 ">
				    <label> Contraseña</label>
				    <input type="password" class="form-control" id="pass" name="pass" placeholder="Constraseña">
				  </div>
				  <div class="form-group col-sm-6 col-lg-6 col-xs-12">
				    <label> Repetir contraseña</label>
				    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Contraseña">
				  </div>
				  <div class="form-group col-sm-12 col-lg-12 col-xs-12">
				    <label> Nombre de Usuario</label>
				    <input type="text" class="form-control" id="username" name="username" placeholder="nombre de usuario">
				  </div>

				  <button class="btn btn-primary col-sm-12 col-lg-12 col-xs-12" type="submit"> Registrarse </button>
				</form>
	    	</div>
      </div>      

    </div> <!-- /container -->

    <div class="footer">
		<div class="container">
			<p class="text-muted">
				Edutech 2014. Todos los derechos reservados
			</p>
		</div>
	</div>

    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>