.container#game
  .page-header
    %h1 Selección del nivel
    %p Cuanto mayor sea el nivel más puntos puedes conseguir, ¡ANÍMATE!
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            Tablero 4 x 4
        .panel-body
          %a.thumbnail{:href=>"/game/memory/1"}
            %img{:src=>"/img/games/memory1.png"}
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            Tablero 8 x 4
        .panel-body
          %a.thumbnail{:href=>"/game/memory/2"}
            %img{:src=>"/img/games/memory2.png"}
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            Tablero 6 x 6
        .panel-body
          %a.thumbnail{:href=>"/game/memory/3"}
            %img{:src=>"/img/games/memory3.png"}
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            Tablero 8 x 6
        .panel-body
          %a.thumbnail{:href=>"/game/memory/4"}
            %img{:src=>"/img/games/memory4.png"}
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2 
            Tablero 8 x 8
        .panel-body
          %a.thumbnail{:href=>"/game/memory/5"}
            %img{:src=>"/img/games/memory5.png"}
    