.container
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .box
        .box-icon
          %span.fa.fa-4x.fa-html5
        .info
          %h4.text-center #{@mensaje.from_user}
          %h5 #{@mensaje.from_user} #{@mensaje.created_at}
          %p #{@mensaje.message}
          %a.btn{:href => ""} volver
          %a.btn{:href => ""} borrar