<!DOCTYPE html>
<html>
<body>

	<form name="input" action="/" method="post">
		gname: <input type="text" = name="gname"><br>
		gclass: <input type="text" = name="gclass"><br>
		gpromotion: <input type="text" = name="gpromotion"><br>
		uname: <input type="text" = name="uname"><br>
		ulast_name: <input type="text" = name="ulast_name"><br>
		uusername: <input type="text" = name="uusername"><br>
		uprofile_picture: <input type="text" = name="uprofile_picture"><br>
		<input type="submit" value="Submit"><br>
	</form>

</body>
</html>