.col-sm-12.col-md-12.col-xs-12.main 
	.col-sm-12.col-md-6.col-xs-12.col-lg-6.datos
		%p 
			%strong 
				%i Nombre: 
			= current_user.name 
		%p 
			%strong 
				%i Apellidos: 
			= current_user.last_name
		%p 
			%strong 
				%i Username: 
			= current_user.username  
		%p 
			%strong 
				%i Creacion de Cuenta: 
			= current_user.created_at.to_date.to_s

		.borrar
			%a{:href => "/borrar"} borrar cuenta
	.col-sm-12.col-md-4.col-md-offset-1.col-xs-12.col-lg-offset-1.col-lg-4.datos1
		%form.col-sm-12.col-md-12.col-xs-12{:role => "form", :action => "/settings", :method => "post"}
			.form-group
				%label{:for => "cnomuser"} Cambiar nombre de usuario
				%input#cuser.form-control{:placeholder => "Nuevo nombre de usuario", :name => "cuser",:type => "text"}/
			%button.btn.btn-default.col-sm-12.col-md-12.col-xs-12.sbtn{:type => "submit"} Cambiar			