
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Verdana;
	height: 100%;
	
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  border-top: 1px solid #e5e5e5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: 100%;
}
.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.header{
	
	background-image: url("/img/logo.png");
	background-size: 45px 45px;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}
.mynav{
	margin-bottom: 0.5%;
	text-align: right;
}
.tit{
	text-align: right;
}

.main{
	background-image: url("/img/fondo_vectorized.png");
	background-position: left;
	background-size: 50% auto;
	background-repeat: no-repeat;
	border-radius: 0px;
	text-align: right;
	background-color: transparent;
	margin-bottom: 0;
}

.myform{

	border-radius: 5px;
	background-color: #dbe7f2;
	padding: 2%;
}