
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Verdana;
	height: 100%;
  text-align: center;
	
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  border-top: 1px solid #e5e5e5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: 100%;
}
.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.header{

 margin-top: 10%;
}

img{
  width: 100px;
  height: 100px;
}